body {
    margin: 0;
    padding: 0;
    background-color: #EFE8E3;
    font-family: Lato, Bold;
    font-size: 20px;
}

header {
    background-color: #3C5949;
    padding: 20px 0;
    text-align: center;
    color: white;
    font-family: Lato, Bold;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #3C5949;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    font-family: Lato, Bold;
}

button:hover {
    background-color: #92CB79;
}